<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.hkust1516csefyp43.easymed">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.LandingPageActivity"
            android:label="@string/land" />
        <activity
            android:name=".view.activity.DrawerActivity"
            android:label="@string/app_name" />
        <activity android:name=".view.activity.NotificationActivity" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".view.activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="optly5704660221" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"/>
        </activity>
        <activity
            android:name=".view.activity.PatientVisitViewActivity"
            android:label="@string/title_activity_patient_visit_read_only"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.PatientVisitEditActivity"
            android:label="@string/title_activity_patient_visit_edit"
            android:theme="@style/AppTheme" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".view.activity.RegisterActivity" />
        <activity
            android:name=".view.activity.PharmacyActivity"
            android:label="@string/title_activity_pharmacy"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".view.activity.SearchActivity"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0f4bb31d70a754d8f62d3f4cc2860718cac7164e" />

        <activity
            android:name=".view.activity.SyncActivity"
            android:label="@string/title_activity_sync"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.VisitReportExportActivity"
            android:label="@string/title_activity_visit_report_export"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.ClinicReportExportActivity"
            android:label="@string/title_activity_clinic_report_export"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.GenerateNewReportActivity"
            android:label="@string/title_activity_generate_new_report"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".view.activity.CreateUserActivity"
            android:label="@string/title_activity_create_user"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.StaticDataActivity"
            android:label="@string/title_activity_static_data"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.ServerStatusActivity"
            android:label="@string/title_activity_server_status"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.InventoryAddActivity"
            android:label="@string/title_activity_inventory_add"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.activity.AddEditKeywordActivity"
            android:label="@string/title_activity_add_edit_keyword"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>